
/* stylelint-disable at-rule-no-unknown */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(18, 18, 18);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}